.free_dashboard, .free_dashboard * { box-sizing: border-box; }.free_dashboard {
      width: 1765px; height: 1834px;
      position: relative;
    }
 .left-menu {
      background: #535e68;
      padding: 20px 0px 17px 0px;
      display: flex;
      flex-direction: column;
      gap: 942px;
      align-items: center;
      justify-content: flex-start;
      height: 1834px;
      position: absolute; left: 0px;top: 0px;
    }
 .leftmenu_upper_box {
      padding: 1px 0px 1px 0px;
      display: flex;
      flex-direction: column;
      gap: 66px;
      align-items: center;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .website-title {
      background: #2a3036;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      justify-content: center;
    flex-shrink: 0;
      width: 111px; height: 79px;
      position: relative;
    }
 .acg {
      color: #ffffff;
      text-align: center;
      font: 300 32px 'Stoke', sans-serif;
      position: relative;
      width: 83px; height: 34px;
      display: flex;
align-items: center;justify-content: center
    }
 .navigation {
      padding: 10px 3px 10px 3px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .neuralnetworkicon {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    align-self: stretch;flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .networkicon {
      flex-shrink: 0;
      width: 100px; height: 100px;
      position: relative;
    }
 .separator1 {
      background: #1f2327;
      flex-shrink: 0;
      width: 67px; height: 1.05px;
      position: relative;
    }
 .classifiericon {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    align-self: stretch;flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .regressoricon {
      flex-shrink: 0;
      width: 100px; height: 100px;
      position: relative;
    }
 .separator2 {
      background: #1f2327;
      flex-shrink: 0;
      width: 67px; height: 1.05px;
      position: relative;
    }
 .regressionicon {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    align-self: stretch;flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .classifiericon2 {
      flex-shrink: 0;
      width: 100px; height: 100px;
      position: relative;
    }
 .separator3 {
      background: #1f2327;
      flex-shrink: 0;
      width: 67px; height: 1.05px;
      position: relative;
    }
 .settingsicon {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    align-self: stretch;flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .settingsicon2 {
      flex-shrink: 0;
      width: 100px; height: 100px;
      position: relative;
    }
 .separator4 {
      background: #1f2327;
      flex-shrink: 0;
      width: 67px; height: 1.05px;
      position: relative;
    }
 .footer {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 128px; height: 155px;
      position: relative;
      overflow: hidden;
    }
 .bodydashboard {
      background: #1f2327;
      padding: 70px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      gap: 39px;
      align-items: center;
      justify-content: flex-start;
      position: absolute; left: 128px;top: 0px;
    }
 .frame-12 {
      display: flex;
      flex-direction: column;
      gap: 39px;
      align-items: center;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 1637px; height: 1764px;
      position: relative;
      overflow: hidden;
    }
 .center-top {
      padding: 15px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      gap: 41px;
      align-items: center;
      justify-content: center;
    align-self: stretch;flex: 1;
      position: relative;
    }
 .topleft {
      padding: 0px 0px 11px 0px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      justify-content: center;
    align-self: stretch;flex-shrink: 0;
      width: 1027px;
      position: relative;
    }
 .args_title_box {
      padding: 11px 415px 11px 415px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    align-self: stretch;flex-shrink: 0;
      height: 65px;
      position: relative;
    }
 .args_title_text {
      color: #ffffff;
      text-align: left;
      font: 400 36px 'Roboto', sans-serif;
      position: relative;
      align-self: stretch;flex: 1;
    }
 .args_content {
      background: #292e33;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      gap: 7px;
      align-items: flex-start;
      justify-content: center;
    align-self: stretch;flex-shrink: 0;
      height: 250px;
      position: relative;
    }
 .frame-9 {
      padding: 25px 0px 25px 0px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      height: 237px;
      position: relative;
      overflow: hidden;
    }
 .arg6 {
      padding: 5px 10px 5px 10px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-items: center;
      justify-content: center;
    flex: 1;
      position: relative;
      overflow: hidden;
    }
 .numepochs_text {
      color: #ffffff;
      text-align: left;
      font: 400 24px 'Roboto', sans-serif;
      position: relative;
      align-self: stretch;flex: 1;
    }
 .numepochs_box_input_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex: 1;
      width: 306px;
      position: relative;
      overflow: hidden;
    }
 .arg1 {
      padding: 5px 10px 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    flex: 1;
      position: relative;
      overflow: hidden;
    }
 .learningrate_text {
      color: #ffffff;
      text-align: left;
      font: 400 24px 'Roboto', sans-serif;
      position: relative;
      align-self: stretch;flex: 1;
    }
 .learningrate_input_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex: 1;
      width: 306px;
      position: relative;
      overflow: hidden;
    }
 .frame-10 {
      padding: 25px 0px 25px 4px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 321px; height: 250px;
      position: relative;
      overflow: hidden;
    }
 .arg4 {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    flex: 1;
      position: relative;
      overflow: hidden;
    }
 .activationfunction_text {
      color: #ffffff;
      text-align: left;
      font: 400 24px 'Roboto', sans-serif;
      position: relative;
      align-self: stretch;flex: 1;
    }
 .activationfunction_dropdown_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex: 1;
      width: 306px;
      position: relative;
      overflow: hidden;
    }
 .arg5 {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    flex: 1;
      width: 326px;
      position: relative;
      overflow: hidden;
    }
 .frame-11 {
      padding: 25px 0px 25px 0px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      height: 250px;
      position: relative;
      overflow: hidden;
    }
 .arg2 {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    flex: 1;
      width: 326px;
      position: relative;
      overflow: hidden;
    }
 .arg3 {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
    flex: 1;
      position: relative;
      overflow: hidden;
    }
 .exec_alg_button_dash {
      background: #27323c;
      border-radius: 8px;
      padding: 12px 20px 12px 20px;
      display: flex;
      flex-direction: row;
      gap: 0px;
      align-items: center;
      justify-content: center;
    flex-shrink: 0;
      position: relative;
      box-shadow: var(--shadow-xs-box-shadow,  0px 1px 2px 0px rgba(16, 24, 40, 0.05));
      overflow: hidden;
    }
 .exec_button_text {
      color: #ffffff;
      text-align: left;
      font: var(--textmd-medium, 500 16px/24px 'Inter', sans-serif);
      position: relative;
    }
 .topright {
      display: flex;
      flex-direction: column;
      gap: 22px;
      align-items: center;
      justify-content: center;
    align-self: stretch;flex-shrink: 0;
      position: relative;
    }
 .senddata_title_box {
      padding: 0px 157px 0px 157px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: center;
    align-self: stretch;flex-shrink: 0;
      position: relative;
    }
 .senddata_title {
      color: #ffffff;
      text-align: left;
      font: 400 36px 'Roboto', sans-serif;
      position: relative;
    }
 .senddata_content {
      background: #292e33;
      border-radius: 5px;
      padding: 27px 25px 27px 25px;
      display: flex;
      flex-direction: row;
      gap: 17px;
      align-items: flex-start;
      justify-content: flex-start;
    align-self: stretch;flex-shrink: 0;
      height: 263px;
      position: relative;
      box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.20);
    }
 .upload_but_box {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 27px;
      align-items: center;
      justify-content: flex-start;
    flex: 1;
      height: 179px;
      position: relative;
      overflow: hidden;
    }
 .senddata_upload_dash {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .select_button_dash {
      background: #414f5e;
      border-radius: 8px;
      padding: 12px 20px 12px 20px;
      display: flex;
      flex-direction: row;
      gap: 0px;
      align-items: center;
      justify-content: center;
    flex-shrink: 0;
      position: relative;
      box-shadow: var(--shadow-xs-box-shadow,  0px 1px 2px 0px rgba(16, 24, 40, 0.05));
      overflow: hidden;
    }
 .select_table_text {
      color: #ffffff;
      text-align: left;
      font: var(--textmd-medium, 500 16px/24px 'Inter', sans-serif);
      position: relative;
    }
 .datauploaded_name_box {
      padding: 0px 4px 0px 4px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      align-items: center;
      justify-content: center;
    flex: 1;
      position: relative;
      overflow: scroll;
    }
 .datauploaded_name {
      color: #ffffff;
      text-align: left;
      font: 400 24px/24px 'Roboto', sans-serif;
      position: relative;
      
    }
 .center-bottom {
      display: flex;
      flex-direction: column;
      gap: 48px;
      align-items: center;
      justify-content: center;
    align-self: stretch;flex-shrink: 0;
      height: 1420px;
      position: relative;
    }
 .visualization_title {
      color: #ffffff;
      text-align: left;
      font: 400 36px 'Roboto', sans-serif;
      position: relative;
      width: 213px;
    }
 .visualization {
      padding: 0px 48px 0px 48px;
      display: flex;
      flex-direction: column;
      gap: 39px;
      align-items: center;
      justify-content: center;
    align-self: stretch;flex: 1;
      position: relative;
    }
 .visualization_tabs_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: center;
    flex-shrink: 0;
      position: relative;
      overflow: hidden;
    }
 .table_tab_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 373px; height: 88px;
      position: relative;
      overflow: hidden;
    }
 .input_graph_tab_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 373px; height: 88px;
      position: relative;
      overflow: hidden;
    }
 .erro_graph_tab_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 373px; height: 88px;
      position: relative;
      overflow: hidden;
    }
 .pred_graph_tab_dash {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      width: 373px; height: 88px;
      position: relative;
      overflow: hidden;
    }
.visualization_box_1 {
      background: #292e33;
      border-radius: 10px;
      padding: 10px 10px 10px 10px;
      display: block;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex: 1;
      width: 1541px;
      position: relative;
      box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}
