<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplicação Web em Flask para modelagem de dados</title>
</head>
<body>
    <div>
        <h1>Leitura dos dados</h1>
        <h2>Insira a seguir uma tabela CSV com variáveis preditoras e última coluna sendo a variável objetivo:</h2>
    </div>
    <div>
        <form method = "POST" enctype="multipart/form-data" action = "/">   
            <input type="file" name="file" accept=".csv">
            <input type = "submit" value="Upload"> 
        </form>
    </div>
    <div>
        <div style="float: left; width: 50%" id='plotDadosOrig' ”></div>
        <div style="float: left; width: 50%" id='plotPred' ”></div>
    </div>
    <div>
        <div style="float: left; width: 50%" id='plotErro' ”></div>
    </div>

    
    <div id='plotDadosOrig' class='plotDadosOrig'”></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
    var graphs = {{graphIN | safe}};
    Plotly.plot('plotDadosOrig',graphs,{});
</script>

<script type='text/javascript'>
    var graphs = {{graphErro | safe}};
    Plotly.plot('plotErro',graphs,{});
</script>

<script type='text/javascript'>
    var graphs = {{graphPred | safe}};
    Plotly.plot('plotPred',graphs,{});
</script>

</html>
